@import url("https://use.typekit.net/zjm5bpr.css");

html {
  scroll-behavior: smooth;
}

h1{
  font-size:57px;
  font-family: 'futura-pt',helvetica,arial,sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000;
}

h2{
  font-size:21px;
  font-family: 'futura-pt',helvetica,arial,sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #f64941;
}

.sixth_section h2{
  color: #fff;
  margin-bottom:20px;
}

h3{
  font-size:17px;
  font-family: 'futura-pt',helvetica,arial,sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #fff;
}

.sixth_section h3{
  color: #f64941;
  margin-bottom:0px;
}


p {
  font-size:16px;
  line-height: 20px;
  font-family: 'futura-pt',helvetica,arial,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
}

a.language{
    font-size:16px !important;
    line-height: 20px !important;
    font-family: 'futura-pt',helvetica,arial,sans-serif;
    font-weight: 200 !important;
    font-style: normal;
    color: #fff !important;
}

a.language:hover{
    color: #000 !important;
}

.fa-instagram{
    color:#fff;
}

.fa-instagram:hover{
    color:#000;
}

.fa-spotify{
    color:#1DB954;
}

.fa-spotify:hover{
    color:#000;
}


/*Navbar Styles*/
.navbar-bg {
  background-color: #f64941!important;
}

.navbar-light .navbar-nav .nav-link{
  font-size:27px;
  font-family: 'futura-pt',helvetica,arial,sans-serif;
  font-weight: 500;
  font-style: normal;
}


#nav-link-services {
  color: #fff;
}
#nav-link-services:hover {
  color: #000;
}

#nav-link-stories {
  color: #77c081;
}
#nav-link-stories:hover {
  color: #000;
}

#nav-link-clients {
  color: #88d3e4;
}
#nav-link-clients:hover {
  color: #000;
}

#nav-link-contacts {
  color: #000;
}
#nav-link-contacts:hover {
  color: #fff;
}

.navbar-light .navbar-toggler{
  border: none;
}

.side-nav {
  flex-basis: 5%;
}


/*Main Styles*/

.first_section{
  background-color: #f64941;
  padding-top:70px;
  height:450px;
}

.hombre-animation {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.hombre-animation * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent center no-repeat;
  background-size: auto 100%;
  display: none;
}

.hombre-animation .show {
  display: block;
}

.hombre-animation .step-1 {
  background-image: url(../img/animation/01_walk.svg);
}

.hombre-animation .step-2 {
  background-image: url(../img/animation/02_walk.svg);
}

.hombre-animation .step-3 {
  background-image: url(../img/animation/03_walk.svg);
}

.hombre-animation .step-4 {
  background-image: url(../img/animation/04_walk.svg);
}

.hombre-animation .step-5 {
  background-image: url(../img/animation/05_walk.svg);
}

.hombre-animation .step-6 {
  background-image: url(../img/animation/06_walk.svg);
}

.hombre-animation .step-7 {
  background-image: url(../img/animation/07_walk.svg);
}

.hombre-animation .step-8 {
  background-image: url(../img/animation/08_walk.svg);
}

.hombre-animation .step-9 {
  background-image: url(../img/animation/09_walk.svg);
}

.hombre-animation .step-10 {
  background-image: url(../img/animation/10_walk.svg);
}

.hombre-animation .step-11 {
  background-image: url(../img/animation/11_walk.svg);
}

.hombre-animation .step-12 {
  background-image: url(../img/animation/12_walk.svg);
}

.second_section{
  text-align: center;
  background-color: #29b975;
  padding-top:70px;
  padding-bottom:40px;
}

.second_section p {
max-width: 800px;
margin-bottom:15px;
font-size:24px;
line-height: 30px;
font-family: 'futura-pt',helvetica,arial,sans-serif;
font-weight: 900;
font-style: normal;
color: #fff;
}

.third_section{
background-color: #FFF;
padding-top: 70px;
padding-bottom: 50px;
}

.serviceimg-container{
  height:300px;
  margin-bottom: 20px;
}

.fourth_section{
background-color: #000;
padding-top: 70px;
padding-bottom: 100px;
}

.sixth_section{
background-color: #87d2e1;
padding-top: 70px;
padding-bottom: 35px;
}

.seventh_section{
background-color: #87d2e1;
font-size:25px;
line-height: 30px;
font-family: 'futura-pt',helvetica,arial,sans-serif;
font-weight: normal;
font-style: normal;
color: #fff;
padding-top: 70px;
padding-bottom: 30px;
}


.seventh_section a{
color: #fff;
text-decoration: none;
}

.seventh_section a:hover{
color: #d9493e;
text-decoration: none;
}

.footer {
background-color: #221e1e;
font-size:11px;
line-height: 30px;
font-family: 'futura-pt',helvetica,arial,sans-serif;
font-weight: normal;
font-style: normal;
color: #fff;
padding-top: 100px;
padding-bottom: 200px;
}

.footer a{
color: #fff;
}

.footer a:hover{
color: #f64941;
text-decoration: none;
}
